/*============================================================================================*/
/* General */
/*============================================================================================*/

* {
    margin: 0;
    box-sizing: border-box;
}

.mt-20 {
    margin-top: 20px;
    padding: 240px 900px 10px 100px;
    text-align: center;
}

.ps {
    padding: 0 900px 10px 100px;
    text-align: center;
}

/*============================================================================================*/
/* Header - ALL */
/*============================================================================================*/

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 15px 0;
    z-index: 100;
    background-color: #000;
    height: 70px;
    padding: 10px 50px;
    padding-left: 10px;
    box-shadow: 0px 10px 90px -23px rgba(0, 0, 0, 0.0);
}

/*============================================================================================*/
/* Splash - HOME - STORE */
/*============================================================================================*/

.splash_1 {
    background-image: url(../img/Udklip1.JPG);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    color: #fff;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.splash_2 {
    background-image: url(../img/cotton-flowers_144627-37433.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}


/*============================================================================================*/
/* Menu - ALL */
/*============================================================================================*/

.main-menu {
    position: relative;
    z-index: 1999;
    top: 15px;
    float: right;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.main-menu ul,
.main-menu ul li {
    position: relative;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.main-menu ul a,
.main-menu ul li a {
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

/* --- First level styles ---- */

.main-menu > ul > li > a {
    color: #fff;
    padding: 0 25px 10px 8px;
    font-size: 16px;
    font-size: 0.875rem;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.6px;
    line-height: 74px;
    padding: 0 19px;
}

.main-menu > ul > li:hover > a {
    opacity: 0.8;
}

/*============================================================================================*/
/* splash botton - HOME */
/*============================================================================================*/

.splash_1 button {
    background-color: rgba(000, 000, 000, 0.80);
    border: 1px solid white;
    padding: 10px 30px;
    margin: 10px 100px 0 210px;
}

.splash_1 button a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

/*============================================================================================*/
/* Mobil menu - ALL */
/*============================================================================================*/

#burger-menu {
    max-width: 400px;
}

#burger-menu.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.97);
    overflow-x: hidden;
    transition: 0.7s;
}

.overlay-content {
    position: relative;
    top: 20%;
    text-align: left;
    margin-top: 30px;
    list-style: none;
}

#burger-menu a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: #000;
    display: block;
    padding: 8px;
}

.overlay a:hover {
    color: #0a0a0a;
}

#closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 45px;
    cursor: pointer;
    font-weight: 100;
}

#openbtn {
    color: #000;
    position: absolute;
    top: 25px;
    left: 22px;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 70;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    overflow-x: hidden;
    transition: 0.7s;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
}


/*============================================================================================*/
/* Logo - ALL */
/*============================================================================================*/

#logo {
    float: left;
}

.logo_normal {
    margin-top: 3px;
    height: 40px;
    width: 200px;
    margin-left: 10px;
}

.burger-logo {
    text-align: center;
    margin-left: 20px;
}

.burger-logo img {
    display: block;
    background-image: url(../img/LOGO3.png);
    background-size: cover;
    z-index: 400;
    position: absolute;
    bottom: 50px;
    width: 80%;
}

/*============================================================================================*/
/* Navigation - ALL */
/*============================================================================================*/

.main-menu {
    position: relative;
    z-index: 999;
    top: -10px;
    float: right;
    margin-right: 40px;
}

.main-menu > ul > li > a {
    color: #fff;
    padding: 0 25px 10px 8px;
    font-size: 16px;
    font-size: 0.875rem;
    font-weight: 500;
    text-decoration: none;
}

.main-menu ul,
.main-menu ul li {
    position: relative;
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: inline-block;
}

.main-menu > ul > li:hover > a {
    opacity: 0.8;
}

/*============================================================================================*/
/* Mobile navigation - ALL */
/*============================================================================================*/

#burger-menu {
    max-width: 400px;
}

#burger-menu.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.97);
    overflow-x: hidden;
    transition: 0.7s;
}

.overlay-content {
    position: relative;
    top: 20%;
    text-align: left;
    margin-top: 30px;
    list-style: none;
}

#burger-menu a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: #000;
    display: block;
    padding: 8px;
}

.overlay a:hover {
    color: #0a0a0a;
}

#closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 45px;
    cursor: pointer;
    font-weight: 100;
}

#openbtn {
    color: #000;
    position: absolute;
    top: 25px;
    left: 22px;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 70;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    overflow-x: hidden;
    transition: 0.7s;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
}

/*============================================================================================*/
/* TEKST - HOME */
/*============================================================================================*/

.intro_tekst {
    text-align: center;
    margin: 10px 300px 10px 300px;
}

/*============================================================================================*/
/* 3 BOKSE - HOME */
/*============================================================================================*/

.kasser {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 4em;
    padding: 25px;
}

.kasser h3 {
    font-size: 13px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    margin: 130px 130px 130px 140px;
    color: #fff;
    background-color: rgba(000, 000, 000, 0.80);
    position: absolute;
}

.kasser ul {
    list-style: none;
    padding-left: 45px;
    font-size: 14px;
}

.kasser h3 {
    padding-bottom: 10px;
    letter-spacing: 1.3px;
    padding: 10px 30px;
    text-align: center;
}

.quicklinks li {
    padding-bottom: 20px;
    position: relative;
}

/*============================================================================================*/
/* NEW - STORE */
/*============================================================================================*/

.new {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 5em;
    padding: 25px;
}

.new h3 {
    font-size: 13px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #0a0a0a;
}

.new ul {
    list-style: none;
    padding-left: 0;
    font-size: 14px;
}

.new h3 {
    padding-bottom: 10px;
    letter-spacing: 1.3px;
    padding-left: 0;
}

.quicklinks li {
    padding-bottom: 20px;
}

/*============================================================================================*/
/* FOOTER - ALL */
/*============================================================================================*/

footer {
    padding: 0 0;
    background-color: #000;
    color: #fff;
}

footer p {
    opacity: 0.8;
    font-size: 14px;
}

footer .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 4em;
    padding: 25px;
}

footer h3 {
    font-size: 13px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #fff;
}

.bottom_bar {
    background-color: #000;
    color: #fff;
}

.bottom_bar .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(520px, 1fr));
    grid-gap: 0em;
    padding: 25px;
    font-size: 13px;
}

.li1 {
    background: url('../img/phone.png') no-repeat no-repeat;
    padding-left: 40px;
    padding-bottom: 20px;
}

.li2 {
    background: url('../img/address.png')no-repeat no-repeat;
    padding-left: 40px;
    padding-bottom: 20px;
}

.li3 {
    background: url('../img/mail.png')no-repeat no-repeat;
    padding-left: 40px;
    padding-bottom: 20px;
}

footer ul {
    list-style: none;
    padding-left: 0;
    font-size: 14px;
    padding-left: 45px;
}

footer h3 {
    padding-bottom: 10px;
    letter-spacing: 1.3px;
    padding-left: 45px;
}

.quicklinks li {
    padding-bottom: 20px;
}

.quicklinks a {
    text-decoration: none;
    color: #444444;
}

/*============================================================================================*/
/* REST API - STORE */
/*============================================================================================*/


#liste {
    /* Boxed layout i liste, hvor data ligger i - responsivt grid */
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    display: block;
    grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
    grid-gap: 1em;
    padding-bottom: 50px;
}

#liste h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

#liste img {
    /* Kvadratiske billeder i oversigt vha. object fit */
    object-fit: cover;
    width: 25rem;
    height: 25rem;
    margin-top: 30px;
}

#liste {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 20px;
    margin-top: 30px;
    margin-top: 30px;
}

#liste article {
    padding: 0 30px 30px 30px;
    cursor: pointer;
    padding-top: 22px;
    font-weight: 400;
    text-align: center;
    font-size: 0.875rem;
    color: #fff;
    background-color: #333F78;
    margin: 0;
}
